ul.addresses{
	list-style: none;
	padding:0;
	display:block;
	clear:both;
	margin:0 auto;
	overflow:hidden;
	
}

ul.addresses li{
	padding:10px 0 15px 0;
	font-size:14px;
	border-bottom:1px solid #ddd;
}
ul.addresses li img{
	display:none;

}
ul.addresses div{overflow:hidden;}
ul.addresses span{
	display:block;
	overflow:hidden;
}
ul.addresses div.name .name{
	font-weight:bold;
}
ul.addresses div.top,div.bottom,div.office{
	width:100%;
	overflow: hidden;
}

ul.addresses .address{
	float:left;
}
ul.addresses div.tel{
	float:right;
}
ul.addresses span.title{
	font-style: italic;
}


ul.addresses .email{clear:both;float:none;}

ul.addresses div.tel strong{display:inline-block;width:40px;}

@media(max-width:979px) {
	ul.addresses li{width:100%;margin:0 auto;}
	ul.addresses li{margin-bottom:10px}
}
@media(max-width:479px){
	ul.addresses div.tel,ul.addresses div.address{
		float:none;
	}
	ul.addresses div.tel{
		margin-top:10px;
		padding-top:10px;
		border-top:1px solid #eee;
	}
}
/* CARDS */
ul.addresses.cards{
	list-style: none;
	padding:0 0 15px 0;
	z-index:1;
	position:relative;
	display:block;
	clear:both;
	margin:0 auto;
	overflow:hidden;
	border-bottom:1px solid #ddd;
	
}
ul.addresses.cards li{
	width:350px;
	min-height:100px;
	border:1px solid #ccc;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.05);
	border-radius:1px;
	position:relative;
	padding:15px;
	font-size:14px;
	position:relative;
	float:left;
	background:#fff;
	margin-right:20px;
	margin-bottom:20px
}
ul.addresses.cards li:before,ul.addresses.cards li:after {
	content: '';
	z-index: -1;
	position: absolute;
	left: 10px;
	bottom: 15px;
	width: 70%;
	max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
	max-height: 100px;
	height: 55%;
	-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
	-webkit-transform: skew(-15deg) rotate(-6deg);
	-moz-transform: skew(-15deg) rotate(-6deg);
	-ms-transform: skew(-15deg) rotate(-6deg);
	-o-transform: skew(-15deg) rotate(-6deg);
	transform: skew(-15deg) rotate(-6deg);
}
	
ul.addresses.cards li:after {
	left: auto;
	right: 10px;
	-webkit-transform: skew(15deg) rotate(6deg);
	-moz-transform: skew(15deg) rotate(6deg);
	-ms-transform: skew(15deg) rotate(6deg);
	-o-transform: skew(15deg) rotate(6deg);
	transform: skew(15deg) rotate(6deg);
}
ul.cards li img{
	width:55px;
	height:50px;
	float:left;
	border:none;
	display:block;

}
ul.addresses.cards div{overflow:hidden;}
ul.addresses.cards span{
	display:block;
	overflow:hidden;
}
ul.addresses.cards div.name{
	padding-left:10%;
	padding-top:5px
}
ul.addresses.cards div.name .name{
	font-weight:bold;
	font-size:14px;
}
ul.addresses.cards div.top,div.bottom,div.office{
	width:100%;
	overflow: hidden;
}
ul.addresses.cards div.bottom{
	border-top:1px solid #eee;
	padding-top:10px;
}
ul.addresses.cards div.bottom,div.office{
	margin-top:15px;
}
ul.addresses.cards div.office{
	border-top:1px solid #eee;
	padding-top:15px;
	font-weight:bold;
}
ul.addresses.cards .address{
	float:left;
}
ul.addresses.cards div.tel{
	float:right;
}
ul.addresses.cards div.tel span.gsa{text-align: right;}
ul.addresses.cards div.address .gsa{
	font-weight:bold;
}

ul.addresses.cards .email{clear:both;float:none;}

ul.addresses.cards div.tel strong{display:inline-block;width:40px;}

.prevSearches{display:none;}

@media(max-width:979px) {
	ul.addresses.cards li{width:90%;margin:0 auto;}
	ul.addresses.cards li{margin-bottom:10px}
}
@media(max-width:479px){
	ul.addresses.cards div.tel,ul.addresses.cards div.address{
		float:none;
	}
	ul.addresses.cards div.tel{
		margin-top:10px;
		padding-top:10px;
		border-top:1px solid #eee;
	}
}